version: '3.5'
services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.19.1
    ports:
        - 9090:9090
    volumes:
        - promdata:/prometheus
        - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
        - '--config.file=/etc/prometheus/prometheus.yml'
        - '--storage.tsdb.path=/prometheus'
    networks:
        - vm_net
    restart: always
  grafana:
    container_name: grafana
    image: grafana/grafana:7.0.3
    depends_on:
      - "victoriametrics"
    ports:
      - 3000:3000
    volumes:
      - grafanadata:/var/lib/grafana
      - ./provisioning/:/etc/grafana/provisioning/
    networks:
      - vm_net
    restart: always
volumes:
  promdata: {}
  grafanadata: {}
networks:
  vm_net:
